[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "gwexpy"
version = "0.1.0"
description = "GWpy Expansions for Experiments"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
  "astropy",
  "gwpy",
  "numpy",
  "pandas",
  "scipy",
  "matplotlib"
]

[project.optional-dependencies]
dev = ["pytest", "pytest-cov", "ruff", "mypy"]
torch = ["torch"]
tensorflow = ["tensorflow"]
jax = ["jax", "jaxlib"]
dask = ["dask"]
zarr = ["zarr"]
polars = ["polars"]
audio = ["librosa", "pydub", "torchaudio"]
data = ["xarray", "h5py", "netCDF4"]
bio = ["mne", "neo"]
control = ["control"]
gpu = ["cupy", "torch", "tensorflow", "jax", "jaxlib"]
gw = ["gwinc", "dttxml"]
geophysics = ["obspy", "mth5", "mt_metadata", "mtpy", "wintools", "win2ndarray"]
analysis = [
    "PyEMD",          # emd, hht
    "hurst",          # hurst指数
    "pywt",           # wavelet変換 (cwt)
    "librosa",        # audio‑signal 前処理
    "obspy"           # ノイズスペクトル解析
]
stats = ["statsmodels", "scikit-learn", "bottleneck"]
interop = [
    "torch", "tensorflow", "jax", "jaxlib", "dask", "zarr", "polars",
    "xarray", "h5py", "netCDF4", "obspy", "mne", "neo"
]

all = [
    "torch", "tensorflow", "jax", "jaxlib", "dask", "zarr", "polars",
    "librosa", "pydub", "torchaudio",
    "xarray", "h5py", "netCDF4", "obspy", "mne", "neo", "gwinc", "dttxml",
    "control", "cupy",
    "wintools", "win2ndarray", "mth5", "mt_metadata", "mtpy",
    "PyEMD", "hurst", "pywt",
    "statsmodels", "scikit-learn", "bottleneck"
]

[tool.setuptools.package-data]
gwexpy = ["py.typed"]

[project.scripts]
gwexpy = "gwexpy.cli:main"
