[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "gwexpy"
version = "0.1.0"
description = "GWpy Expansions for Experiments"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
  "astropy",
  "gwpy",
  "numpy",
  "pandas",
  "scipy",
]

[project.optional-dependencies]
dev = ["pytest"]

[tool.setuptools.packages.find]
where = ["."]
include = ["gwexpy*"]

[tool.pytest.ini_options]
addopts = ["-ra"]
pythonpath = ["."]
