sphinx
sphinx-rtd-theme
myst-parser
nbsphinx
ipykernel
gwpy>=4.0.0,<5.0.0
control
statsmodels
pmdarima
iminuit
emcee
corner
PyWavelets
EMD-signal
ligo.skymap
astropy-healpix
gwinc
inspiral-range
pytest
sphinx-design
